
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 29, 2019)

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die five times**

In [11]:
import itertools
import pandas as pd
import numpy as np

numList = list(range(1, 7))
resultList1 = list(itertools.product(numList,repeat=5))
print(f"Total number of outcomes = {len(resultList1)}")

resultArray = np.array(resultList1)
sumOutcomes = np.sum(resultArray, axis=1)

df1 = pd.DataFrame({"outcomes":resultList1,"sumOutcomes":sumOutcomes})
df1

Total number of outcomes = 7776

             outcomes  sumOutcomes
0     (1, 1, 1, 1, 1)            5
1     (1, 1, 1, 1, 2)            6
2     (1, 1, 1, 1, 3)            7
3     (1, 1, 1, 1, 4)            8
4     (1, 1, 1, 1, 5)            9
...               ...          ...
7771  (6, 6, 6, 6, 2)           26
7772  (6, 6, 6, 6, 3)           27
7773  (6, 6, 6, 6, 4)           28
7774  (6, 6, 6, 6, 5)           29
7775  (6, 6, 6, 6, 6)           30

[7776 rows x 2 columns]